<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <main class="container my-3">
    <h2 class="display-4 text-center">Reset your Password below</h2>
    <div class="col-6 offset-3">
      <form class="form-group" method="POST"  action="/auth/password-reset">

        <label for="password">Password</label>
        <input type="password" name="pw" class="form-control" id="password" />
        
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
         <input type="hidden" name="_id" value="<%=userId%>">
          <input type="hidden" name="token" value="<%=token%>">
        <button type="submit" class="btn btn-success mt-3">Update</button>
      </form>
    </div>
  </main>

  <%- include("../partials/scripts.ejs")%>
</body>

<%- include("../partials/end.ejs") %>