<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <main class="container my-3">
    <div class="col-6 offset-3">
    <%- include("../partials/error.ejs")%>
      <form class="form-group" method="POST" action="/admin/<%if (editing) {%>edit-product<%} else {%>add-product <%}%>" >
        <label for="title">Product Title</label>
        <input 
          id="title" 
          type="text" 
          name="title" 
          class="form-control <%=errors.find(e => e.param === 'title') ? 'border border-danger' : '' %>"
          value="<%if (editing) {%>
                  <%=product.title%>
                <%} else {%>
                  <%=value.title%>
                <%}%>" 
        />

        <label for="imageUrl">ImageUrl</label>
        <input 
          id="imageUrl" 
          type="text" 
          name="imageUrl" 
          class="form-control <%=errors.find(e => e.param === 'imageUrl') ? 'border border-danger' : ''%>"  
          value="<%if (editing) {%>
                  <%=product.imageUrl%>
                  <%} else {%>
                  <%=value.imageUrl%>
                <%}%>" 
        />
        
        <label for="price">Price</label>
        <input 
          id="price" 
          type="number" 
          step="0.01" 
          min="0" 
          name="price" 
          class="form-control <%=errors.find(e => e.param === 'price') ? 'border border-danger' : ''%>" 
          value="<%if (editing) {%>
                  <%=product.price%>
                  <%} else {%>
                  <%=value.price%>
                <%}%>" 
        />
        
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="5" class="form-control <%=errors.find(e => e.param === 'description') ? 'border border-danger' : ''%>">
        <%if (editing) {%>
          <%=product.description%>
          <%} else {%>
          <%=value.description%>
        <%}%>
        </textarea>
        
        <% if (editing) {%>
          <input type="hidden" value="<%=product._id %>" name="_id" />
        <% } %>
        
        <input type="hidden" value="<%=csrfToken%>" name="_csrf" />
        <button type="submit" class="btn btn-success mt-3">
          <% if (editing) { %>
            Update Product
          <% } else { %>
            Add Product
          <% } %>
        </button>
      </form>
    </div>
  </main>
  <%- include("../partials/scripts.ejs")%>
</body>

<%- include("../partials/end.ejs") %>