<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <main class="container my-3">
    <div class="col-6 offset-3">
      <form class="form-group" method="POST" action="/admin/<%if (editing) {%>edit-product<%} else {%>add-product <%}%>">
        <label for="title">Product Title</label>
        <input type="text" name="title" class="form-control" id="title"
          value="<%if (editing) {%><%=product.title%><%}%>"
        />

        <label for="imageUrl">ImageUrl</label>
        <input type="text" name="imageUrl" class="form-control" id="imageUrl"
          value="<%if (editing) {%><%=product.imageUrl%><%}%>"
        />
        
        <label for="price">Price</label>
        <input type="text" name="price" class="form-control" id="price" 
          value="<%if (editing) {%><%=product.price%><%}%>"
        />
        
        <label for="description">Description</label>
        <textarea class="form-control" name="description" id="description" rows="5"><%if (editing) {%><%=product.description.trim()%><%}%>
        </textarea>
        
        <% if(editing) {%>
          <input type="hidden" value="<%=product._id %>" name="_id" />
        <%}%>

        <button type="submit" class="btn btn-success mt-3">
        
        <% if (editing) { %>
          Update Product
        <% } else { %>
          Add Product
        <% } %>
        
        </button>
      </form>
    </div>
  </main>
  <%- include("../partials/scripts.ejs")%>
</body>

<%- include("../partials/end.ejs") %>