<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>
    <main class="container">
      <% if(products.length > 0) { %>
      <h1>Products List</h1>
      <div class="row">
        <% products.forEach(product =>{ %>
        <div class=" col-4 my-3 <%=product._id%>" >
          <div class="card-deck ">
            <div class="card">
              <img
                src="/<%= product.imageUrl %>"
                class="card-img-top"
                alt="<%= product.title %>"
              />
              <div class="card-body">
                <h5 class="card-title"><%= product.title.toUpperCase() %></h5>
                <h6 class="small">Item: <%=product._id%></h6>
                <h6 class="card-subtitle text mutes">£<%= product.price.toFixed(2)%></h6>
                <p class="card-text">
                <%= product.description%>
                </p>
                <div id="submit" class="d-flex">
                  <a href="/admin/edit-product/<%=product._id%>?edit=true" class="btn btn-success">Edit</a>  
                  <input type="hidden" name="_id" value="<%=product._id%>">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button id="delProduct" onclick="deleteProduct(this)" class="mx-1 btn btn-danger">Delete</button>
                </div>
                </div>
            </div>
          </div>
        </div>
          <% }) %>
        </div>
        <% } else { %>
        <h1>No Products found</h1>
        <% } %>
      </div>
    </main>
    <%- include("../partials/scripts.ejs")%>
    <script src="/scripts/admin.js"></script>
  </body>
</html>
