<%- include("../partials/head.ejs") %>

<body> 
<%- include("../partials/nav.ejs") %>
  <main>
    <div class="container text-center">
      <h1>500 - SERVER ERROR</h1>
      <h3>Some Error Occured!</h3>
      <p>
      <%=error%>
      </p>
      <button class="btn btn-outline-primary">
        <a href="/">Try again soon!!!</a>
      </button>
    </div>
  </main>
  <%- include("../partials/scripts.ejs")%>
</body>
<%- include("../partials/end.ejs") %>