<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>
    <main class="container mt-4">
    <% if(products) { %>
      <table class="table table-sm table-striped table-bordered ">
        <thead class="thead-dark">
          <tr>
            
            <th >Description</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Price</th>
            <th style="text-align: center">Sub Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(data =>{ %>
          <tr>
            
            <td>
              <h5>
                <%= data.product.title%>
              </h5>
              <small>ID: <%=data.product.id%></small>
            </td>
            <td style="text-align: center"><%= data.qty%></td>
            <td style="text-align: center"><%= data.product.price.toFixed(2)%></td>
            <td style="text-align: center"><%= data.product.price.toFixed(2)* data.qty%></td>
            <td>
              <form action="/delete-item" method="POST">
                <input type="hidden" name="id" value="<%= data.product.id%>">
                <input type="hidden" name="price" value="<%= data.product.price%>">
                <button type="submit" class="btn btn-sm">
                  <span style="color: red;">
                    <i class="fas fa-2x fa-window-close"></i>
                  </span>
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <div class="row justify-content-end px-4">
        <h2>Total Price: £<%= totalPrice.toFixed(2)%></h2> 
      </div>
      <% } else { %>
      <h1>No Products found</h1>
      <% } %>
      </main>


  <%- include("../partials/scripts.ejs")%>
</body>


  <%- include("../partials/end.ejs") %>
