<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>
    <main class="container">
    <% if(products) { %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Qty</th>
            
          </tr>
        </thead>
        <tbody>
          <% products.forEach(data =>{ %>
          <tr>
            <th scope="row"><%=data.product.id%></th>
            <td><%= data.product.title%></td>
            <td><%= data.product.price.toFixed(2)%></td>
            <td><%= data.qty%></td>
            
          </tr>
          <% }) %>
        </tbody>
        <hr />
        <h2>Total Price: £<%= totalPrice.toFixed(2)%></h2> 
      </table>
      <% } else { %>
      <h1>No Products found</h1>
      <% } %>
      </main>


  <%- include("../partials/scripts.ejs")%>
</body>


  <%- include("../partials/end.ejs") %>
