<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>
    <main class="container mt-4">
    <% if(cart.length) { %>
      <table class="table table-sm table-striped table-bordered ">
        <thead class="thead-dark">
          <tr>
            
            <th >Description</th>
            <th style="text-align: center">Qty</th>
            <th style="text-align: center">Price</th>
            <th style="text-align: center">Sub Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% cart.forEach(item =>{ %>
          <tr>
            <td>
              <h5>
                <%=item.productId.title%>
              </h5>
              <small>ID: <%=item.productId._id%></small>
            </td>
            <td style="text-align: center"><%= item.quantity%></td>
            <td style="text-align: center"><%= item.productId.price.toFixed(2)%></td>
            <td style="text-align: center"><%= item.productId.price*item.quantity%></td>
            <td>
              <form action="/delete-item" method="POST">
                <input type="hidden" name="productId" value="<%= item.productId._id%>">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                <input type="hidden" name="subTotal" value="<%= item.productId.price*item.quantity%>">
                <button type="submit" class="btn btn-sm">
                  <span style="color: red;">
                    <i class="fas fa-2x fa-window-close"></i>
                  </span>
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
          <td>
              <h4>TOTAL:</h4>
            </td>
            <td> </td>
            <td> </td>
            <td style="text-align: center">£<%=totalPrice.toFixed(2)%></td>
            <td></td>
        </tbody>
      </table>
      
      <a href="/checkout">
        <button class="btn btn-primary">Check Out</button>
      </a>
     
      <% } else { %>
      <h1>No Products found</h1>
      <% } %>
      </main>


  <%- include("../partials/scripts.ejs")%>
</body>
</html>
