<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>
    <main class="container">
      <% if(products.length > 0) { %>
      <h1>Products List</h1>
      <div class="row">
        <% products.forEach((product) =>{ %>
        <div class=" col-4 my-3">
          <div class="card-deck ">
            <div class="card">
             <img src="/<%=product.imageUrl%>" class="card-img-top" alt="<%=product.title%>">
              <div class="card-body">
                <h5 class="card-title"><%=product.title%></h5>
                <h6 class="small">Item: <%=product._id%></h6>
                <h6 class="card-subtitle text mutes">£<%= parseFloat(product.price).toFixed(2)%></h6>
                <p class="card-text">
                  <%= product.description%>
                </p>
                <div class="d-flex">
                <a class="mx-1 btn btn-outline-primary" href="/products/<%=product._id%>">Details</a>
                <% if (isAuth) {%>
                <form action="/cart" method="POST">
                  <input type="hidden" name="_id" value="<%=product._id%>">
                  
                  <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                  <button class="mx-1 btn btn-outline-success" type="submit">Add to Cart</button>
                </form>
                <%}%>
                </div>
              </div>
            </div>
          </div>
        </div>
          <% }) %>
        </div>
        <% } else { %>
        <h1>No Products found</h1>
        <% } %>
      </div>
      <nav>
        <ul class="pagination justify-content-center">
         <li class="page-item <%=hasPrev === false ? 'disabled' : '' %>">
          <a class="page-link" href="/products/?page=<%=prevPage%>" tabindex="-1"
            >Previous
          </a>
        </li>
        <% for (i=1; i <= pages; i++) { %>
          <li class="page-item <%=page === i ? 'active' : '' %>">
            <a class="page-link"  href="/products/?page=<%=i%>">
              <%=i%>
            </a>
          </li>
        <%}%>
        <li class="page-item <%=hasNext === false ? 'disabled' : '' %>">
          <a class="page-link" href="/products/?page=<%=nextPage%>">
            Next
          </a>
        </li>
      </ul>
    </nav>
    </main>
    <%- include("../partials/scripts.ejs")%>
  </body>


  <%- include("../partials/end.ejs") %>
